/*//admin*/
body {
    font-family: 'Roboto', sans-serif !important;

}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-image: none !important;
}

.collapse:not(.show) {
    display: none;
}

.bg-form {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
}

.card-body-admin {
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, .125);
    border-radius: .25rem;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

/*.sidebar-fixed .logo-wrapper{padding:2.5rem}*/
.container-for-admin {
    background-color: #eee !important;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1050;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.list-group-flush {
    border-radius: 0;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.white {
    background-color: #fff !important;
}

.fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.fa-times-circle.img {
    top: 0;
    right: 0;
}

.fa-arrow-alt-circle-down.stage {
    top: 0;
    right: 0;
}

.fa-arrow-alt-circle-down.stage:hover {
    color: rgb(4, 190, 8);
}

.dataTables_filter input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    /*outline: none;*/
}

.dataTables_filter input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}



.accordion.md-accordion.accordion-blocks .card {
    margin-bottom: 0.4rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {*/
/*    border-bottom: 1px solid #e0e0e0;*/
/*}*/
.md-accordion .card .card-header {
    padding: 0.5rem 0.6rem;
    background: transparent;
    border-bottom: 0;
}

.accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
}

.md-accordion .card .fa-angle-down {
    float: right;
    margin-top: -16px;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition-delay: 50ms;
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accordion .card {
    border-bottom: 0;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-green-stage {
    outline: none;
    border: 0;
    padding: 10px 15px;
    color: white !important;
    background: #3AA93F;
    border-radius: 10px;

}
a {
    text-decoration: none;
}

.list-group-item.active {
    background-color: #ffb2b2!important;
    border-color: #ffb2b2!important;
}

.bg-red-table {
    background: #ffb2b2!important;
    color: white!important;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting, table.dataTable thead .sorting_desc  {
    background-image: none;
}

.page-item.active .page-link {
    background-color: #ffb2b2!important;
    border-color: #ffb2b2!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: none!important;
    background-color: #ffb2b2!important;
    background: linear-gradient(to bottom, #ffb2b2 0%, #ffb2b2 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none!important;
    color: #ffffff!important;
    background: linear-gradient(to bottom, #ffb2b2 0%, #ffb2b2 100%)!important;
}
.dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{
    color: white!important;
}
div.dataTables_wrapper div.dataTables_filter input{
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: linear-gradient(to bottom, #ffb2b2 0%, #ffb2b2 100%)!important;
    color: white!important;
}
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #fff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: white!important;
}

.tf-tree .tf-nc, .tf-tree .tf-node-content {
    border: .0625em solid #000;
    display: inline-block;
    background: #000;
    position: relative;
    color: #fff;
    border-radius: 4px;
    padding: 18px 9px;
    text-align: center!important;
}
.genealogy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.genealogy-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.genealogy-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.genealogy-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}
.genealogy-body{
    white-space: nowrap;
    overflow-y: hidden;
    /*padding: 50px;*/
    /*min-height: 500px;*/
    padding-top: 10px;
}
.genealogy-tree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0px;
    display: flex;
}
.genealogy-tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.genealogy-tree li::before, .genealogy-tree li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 18px;
}
.genealogy-tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before {
    display: none;
}
.genealogy-tree li:only-child{
    padding-top: 0;
}
.genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after{
    border: 0 none;
}
.genealogy-tree li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.genealogy-tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.genealogy-tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.genealogy-tree li a{
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.genealogy-tree li a:hover+ul li::after,
.genealogy-tree li a:hover+ul li::before,
.genealogy-tree li a:hover+ul::before,
.genealogy-tree li a:hover+ul ul::before{
    border-color:  #fbba00;
}
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.member-image{
    width: 60px;
    position: relative;
}
.member-image img{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color :#000;
    z-index: 1;
}
.tf-tree {
    font-size: 16px;
    overflow: hidden!important;
}

#myUL {
    margin: 10px;
    padding: 10px;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}
.treeview .rotate.down {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.treeview .rotate {
    margin-top: .2rem;
    font-size: .8rem;
    vertical-align: text-top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.fa-angle-right:before {
    content: "\f105";
}
.btns-header{
    background: #c3c3c3!important;
    color: white!important;
    border: 1px solid!important;
    border-radius: 10px!important;
    margin: 5px!important;
    text-align: center;
}

.btn-header{
    color: #ffffff!important;
    margin: 0px 5px!important;
}
.btns-exit{
    background: #3c3c3c!important;
    color: white!important;
    border: 1px solid!important;
    border-radius: 10px!important;
    margin: 5px!important;
    text-align: center;
}
.btn-header-exit{
    color: #ffffff!important;
    margin: 0px 5px!important;
}
.btn-dangerr{
    background-color: #3c3c3c!important;
    color: white!important;
    border-color: #3c3c3c!important;
}

.btn-successs{
    background-color: #c3c3c3!important;
    color: white!important;
    border-color: #c3c3c3!important;
}
a.nav-link{
    color: #3c3c3c;
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    transition: background-size .6s;
}
a.nav-link:hover, a.nav-link:focus {
    background-size: 100% 2px;
}
.nav-link.active {
    background-size: 100% 2px;

}
#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff url('../img/loader.gif') no-repeat center;
    z-index: 999;
    opacity: 0.7;
    display: none;
}

.treeview {
    width: 100%;
}

.treeview ul {
    /*margin-left: .8rem;*/
    padding-left: .8rem;
}

.treeview-primary .active {
    color: #1266f1 !important;
}

.treeview-category:hover, .treeview-primary .active {
    background-color: rgba(18, 102, 241, .05);
}

.treeview .active, .treeview .treeview-category {
    padding: 0 .4rem;
    border-radius: 5px;
}

.treeview li {
    list-style-type: none;
    margin: 3px 0;
}

.treeview a[data-mdb-toggle=collapse] {
    color: unset;
}

.treeview .active, .treeview .treeview-category {
    padding: 0 .4rem;
    border-radius: 5px;
}

.treeview a {
    color: #4f4f4f;
    display: block;
}

[role=button] {
    cursor: pointer;
}

.treeview span[aria-label=toggle] i {
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.fa-angle-right:before {
    content: "\f105";
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

.treeview span[aria-label=toggle] i {
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.treeview a[data-mdb-toggle=collapse] {
    color: unset;
}

.treeview-primary .active {
    color: #1266f1 !important;
}

.collapse:not(.show) {
    display: none;
}

.treeview-primary .active {
    color: #1266f1 !important;
}

.treeview-category:hover, .treeview-primary .active {
    background-color: rgba(18, 102, 241, .05);
}

.treeview .active, .treeview .treeview-category {
    padding: 0 .4rem;
    border-radius: 5px;
}

.treeview a {
    color: #4f4f4f;
    display: block;
}

.treeview-animated .treeview-animated-list .treeview-animated-items .closed .fa-angle-right.down {
    position: relative;
    color: #f8f9fa;
    -webkit-transform: rotate(
        90deg
    );
    transform: rotate(
        90deg
    );
}

.treeview-animated .treeview-animated-list .treeview-animated-items .closed .fa-angle-right {
    font-size: .8rem;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.treeview-primary a:focus, .treeview-primary li:focus {
    outline: none;
    background-color: rgba(18, 102, 241, .05);
}
.treeview .rotate{
    font-size: 1rem!important;
}

.rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa, .fas {
    font-weight: 900;
}
@media screen and (max-width: 769px) {
    .tf-tree {
        overflow: auto!important;
    }
}
